@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, sans-serif, 'lucida grande';
	}
a{
	text-decoration:none;
	color: #434343; 
}
a:hover{
	color: #696969;
}
p{
	font-size: 18px;
}
.container{
	width:1200px;
	margin: auto;
}
/*Menu*/
.menu{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.menu ul li{
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
}
.menu img{
	margin: 0px 17px -93px;
}
.menu img:hover{
	opacity: 0;
}
/* SLICE */
.slice {
	margin-top: 30px;
	position: relative;
	}
.slice .left{
	width: 400px;
	position: absolute;
	left: 75px;
	top: 130px;
}
.slice .left h2{
	font-size:80px;
	color: white;
}
.left p{
	margin-top: 20px;
	color: white;
}
.btn{
	padding: 15px 15px;
	background-color: #333131;
	border-radius: 30px; 
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top:20px;
}
.btn:hover{
	background-color: #696969;
}
.slice .right{
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.hidden{
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	margin-right:30px;
	border:none;
	font-size: 40px;
	cursor: pointer;
}

.hidden:hover{
	color: #696969;
}
/* BANDER */
.banner{
	margin-top: 15px;
	cursor: pointer;
	color: white;
}
.bannerLeft{
	width: 680px;
	height: 590px;
	margin-right: 20px;
	float: left;
	background-image: url("bannerleft.jpg");
	background-size: cover;
	position: relative;
	color: white;
	}
.bannerLeft:hover{
	color: #696969;
}
.bannerRight{
	width: 500px;
	height: 700px;
	float: left;
	background-image: url("bannerright.jpeg");
	background-size: cover;
	position: relative;
	color: white;
}.bannerRight:hover{
	color: #696969;
}
.textl{
	position: absolute;
	left: 400px;
	bottom: 75px;
	font-size:60px; 
	
}
.view1{
	position: absolute;
	left: 400px;
	bottom: 50px;
	text-transform: uppercase;
}
.textR{
	position: absolute;
	left: 30px;
	top: 155px;
	font-size:60px; 
	
}
.view2{
	position: absolute;
	top: 310px;
	left: 30px;
	text-transform: uppercase;
}
/* CONTENT */
#title{
	margin-bottom: 20px;
	font-size: 50px;
}
.sp{
	
	margin-left: 20px;
	float: left;
	overflow: hidden;
}
.sp{
	margin-bottom: 20px;
}
#content1{
margin-left: 0;
}
.sp img:hover{
	-wedkit-transform: scale(1.5) ;
	   -moz-transform: scale(1.5) ;
		-ms-transform: scale(1.5) ;
		 -o-transform: scale(1.5);
		    transform: scale(1.5) ;
}
.sp img{
	
	-wedkit-transform: scale(1.0) ;
	   -moz-transform: scale(1.0) ;
		-ms-transform: scale(1.0) ;
		 -o-transform: scale(1.0);
		    transform: scale(1.0) ;
}
.ten, .gia, .mua{
	width: 285px;
	margin-left: 20px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	}
#d2{
	margin-left: 0;
}
.ten p, .gia, .mua{
	color:#434343;
	text-align: center;
	margin-bottom: 10px;
}
.ten p:hover, .gia:hover{
	color: #696969;
}
.gia{
	font-size: 40px;
	font-weight: bold;
	color: #364318
}
.gia span{
	font-size: 25px;
}
/*BANNER2*/
#banner1{
	width: 680px;
	height: 590px;
	margin-right: 20px;
	float: left;
	background-image: url("bia5.1.jpg");
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	margin-top: 30px
}
#banner2{
	background-image: url("bia7.jpg");
	width: 500px;
	height: 700px;
	float: left;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	margin-top: 30px;
}

.text1{
	position: absolute;
	left: 480px;
	bottom:280px;
	font-size:60px;
}
.view3{
	position: absolute;
	left: 480px;
	bottom: 260px;
	text-transform: uppercase;
}
.text2{
	position: absolute;
	left: 30px;
	top: 285px;
	font-size:60px; 
}
.text1:hover, .view3:hover, #banner1:hover{
	color: #9E1A1D;
}
.text2:hover, .view4:hover, #banner2:hover{
	color: #185725;
}
.view4{
	position: absolute;
	top: 430px;
	left: 30px;
	text-transform: uppercase;
}
/*FOOTER*/
.about{
	width:400px;
	float:left;
}
.about #trai{
	width: 85px;
	height: 45px;
	margin-right:px;
	margin-top: 10px;
	float: left;
}
.about #phai{
	width: 245px;
	color: #434343;
	float: left;
}
.contact{
	width: 300px;
	float: left;
}
.contact p{
	margin-top: 10px;
	color: #434343;
}
.contact span{
	font-size: 22px;
	font-weight: bolder;
}
.link{
	width: 500px;
	float: left;
}
.link p{
	margin-top: 45px;
	color: #434343;
}
